* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.navbar-links {
    display: flex;
    column-gap: 20px;
}

.navbar-links a {
    text-decoration: none;
    color: #1D232C;

}

.navbar-links a:hover {
    text-decoration: underline;
    color: #1D232C;

}

.navbar-menu-toggle {
    display: none;

}

.side-navbar {
    background-color: #1D232C;
    width: 20%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -60%;
    padding: 20px;
    color: white;
    transition: 0.8s;

}

.side-navbar-link {
    margin-top: 30px;
}

.side-navbar-link a {
    text-decoration: none;
    color: white;

}

.side-navbar-links a:hover {
    text-decoration: underline;
}

.fa-solid {
    cursor: pointer;
}

/*header*/

.header {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 50px;
}

.header-button {
    padding: 10px 20px 10px 20px;
    margin-top: 10px;
    background-color: #1D232C;
    cursor: pointer;
    color: white;
}

.service {
    padding: 20px;
}

.service-container-1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.service-container-2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;

}

.service-container-2 div {
    background-color: #F2F4F7;
    border-radius: 5px;
    padding: 10px;
}

.new-arrival {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.new-arrival-container {
    position: relative;
    flex-basis: 20%;
}

.new-arrival button {
    padding: 5% 10% 5% 10%;
    margin-top: 10px;
    color: #1D232C;
    position: absolute;
    left: 50%;
    bottom: 18%;
    border-radius: 10px;
    border: none;
}
.news{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    
}
.news input{
    padding: 11px;
    width: 80vw;
    margin-top: 5px;
    margin-bottom: 8px;
    border: solid black 3px;
}
.news button{
    margin-top: 5px;
    color: #F2F4F7;
    background-color: #1D232C;
    border-radius: 10px;
    padding: 10px;
   
}
.footer{
    margin-top: 20px;
    padding: 30px;
    background-color: #1D232C;
    color: #F2F4F7;
}
.product-section{
    margin-top: 20px;

}
.product-search{
    width: 80%;
    border: solid black 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
    margin: auto;
    
}
.product-search input{
    border: none;
    background-color: transparent;
    width: 100%;
}
.product-search input:focus{
    outline: none;
}
.products{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
  
}
.products-box{
    text-align: center;
    flex-basis: 20%;
}
.products-box img{
    border-radius: 5px;
}

/*contact*/
.don{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

}
.contactsection{
    width: 70%;
    padding: 30px;
    background-color: #1D232C;
    border-radius: 5px;
    color: #F2F4F7;
   
    
    
}
.contactsection input{
    width: 100%;
    background-color: white;
    border: none;
    font-size: x-large;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    height: 7vh;
}
.contactsection input:focus{
    outline: none;
}
.contactsection textarea{
    width: 100%;
    height: 25vh;
    border-radius: 5px;
    font-size: xx-large;

}
.contactsection textarea:focus{
    outline: none;
}

.contactsection button{
    color: white;
    background-color: rgb(63, 130, 216);
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 7px;
    width: 90px;
    height: 30px;
    font-size: medium;
}








@media screen and (max-width:700px) {
    .navbar-menu-toggle {
        display: block;
    }

    .navbar-links {
        display: none;
    }

    .header-image {
        display: none;
    }

    .service-container-1 {
        display: none;
    }

    .service-container-2 {
        flex-direction: column;
    }

}